REDIS_URL=redis://redis:6379
TEMPORAL_ADDRESS=temporal:7233
SUPPLIER_A_URL=http://api:3000/supplierA
SUPPLIER_B_URL=http://api:3000/supplierB
PORT=3000
REDIS_CACHE_TTL_SECONDS=300
CORS_ALLOWED_ORIGINS=http://localhost:3000
SIMULATE_SUPPLIER_DOWN=none
